<ion-header>

  <ion-navbar>
    <ion-title>DoTheMath</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="statusBar">
    <span id="score">Score: {{score}}</span>
    <span id="level">Level: {{level}}</span>
    <span id="lives">Lives: {{lives}}</span>
  </div>

  <div id="resultNumber" *ngIf="!resultMessage">{{resultNumber}}</div>
  <div id="resultMessage" *ngIf="resultMessage">{{resultMessage}}</div>
  <div id="ecuation">{{firstNumber}} {{operator}} {{secondNumber}}</div>

  <div id="validationButtons">
    <button id="wrongBtn" ion-button full large color="midnight" (tap)="checkEcuation('wrong')">Wrong!</button>
    <button id="correctBtn" ion-button full large color="midnight" (tap)="checkEcuation('correct')">Correct!</button>
  </div>


</ion-content>
