page-contact {
  .content {
    background: color($colors, dark);
  }

  .label {
    color: color($colors, light);
  }

  ion-icon {
    color: color($colors, dark);
  }

  a {
    text-decoration: none;
    color: color($colors, dark);
  }
}
